.home{
    background-image: url("/static/images/assets/backgrounds/h_img.jpg");
    height: 100vh;
    color: #fff;
}

.img1{
    padding-top:20%;
    text-align: center;
}

.welcome{
    text-align: center;
    font-size: 60px;
    
}

.welcome2{
    text-align: center;
    font-size: 60px;
}

.welcome3{
    text-align: center;
    font-size: 30px;
}

.img2{
    text-align: center;
    margin-top: 7%;
}

.about{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

.services{
    background-image: url("/static/images/assets/backgrounds/s_image.jpg");
    height: 50vh;
}

.s-cont{
    text-align: center;
    color: #fff;
    padding-top: 10%;
}

.what-we-do h1 {
    margin-top: 30px;
}
figcaption{
    margin-top: 20px;
   padding-bottom: 70px;
}

.port{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
   
}
 
#porthead{
    margin-bottom: 3%;
    text-align: center;
}
.row{
margin-bottom: 2%;
}
.portimg .porttext {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: rgb(255, 166, 0);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 90px;
    height: 100%;
}
.conhead{
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cont{
    background-image: url("/static/images/assets/backgrounds/c_image.jpg");
    height: 70vh;
    margin-top: 50px;
}
.form-control{
    background-color: #66000000;
    color: white;
}
.input{
    margin-top: 30px;
}
.b-text{
    font-family: 'Comfortaa', cursive;
}
.m-text{
    font-family: 'Raleway', sans-serif;
}
.name{
    margin-right: 5px;
}
input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
.email{
    margin-right: 5px;
}
textarea::placeholder{
    color: #ffffff;
}
#buttn {
    margin-top: 3%;
}
footer{
    text-align: center;
    margin-top: 5%;
}
#dstudio{
margin-top: 3%;
}