.home{
    background-image: url("/static/images/assets/backgrounds/h_img.jpg");
    height: 100vh;
    color: #fff;
}

.img1{
    padding-top:20%;
    text-align: center;
}

.welcome{
    text-align: center;
    font-size: 60px;
    
}

.welcome2{
    text-align: center;
    font-size: 60px;
}

.welcome3{
    text-align: center;
    font-size: 30px;
}

.img2{
    text-align: center;
    margin-top: 7%;
}

.about{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

.services{
    background-image: url("/static/images/assets/backgrounds/s_image.jpg");
    height: 50vh;
}

.what-we-do h1 {
    margin-top: 30px;
}
figcaption{
    margin-top: 20px;
}

.port{
    display: flex;
    flex-wrap: wrap;
    
   
}
 
#pppp{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.cont{
    background-image: url("/static/images/assets/backgrounds/c_image.jpg");
    height: 60vh;
    margin-top: 50px;
}
form{
    display: flex;
    text-align: center;
}
input{
    width: 30%;
    color: #fff;
    background-color: black;
    opacity: 0.1;
    
}

textarea {
    width: 50%;
    height: 25vh;
    background: transparent;
    margin-left: 15%;

  }
footer{
    text-align: center;
    margin-top: 3%;
}
#dstudio{
margin-top: 3%;
}